# STUDENTS SERVICE - DATABASE
STUDENTS_SERVICE_DB_USER=postgres
STUDENTS_SERVICE_DB_PASSWORD=postgres
STUDENTS_SERVICE_DB=db
STUDENTS_SERVICE_DB_EXTERNAL=5433


# GRADES - DATABASE
GRADES_SERVICE_DB_USER=postgres
GRADES_SERVICE_DB_PASSWORD=postgres
GRADES_SERVICE_DB=db
GRADES_SERVICE_DB_EXTERNAL=5434


# STUDENTS SERVICE - API
STUDENT_SERVICE_EXTERNAL_PORT=8080

# GRADES SERVICE - API
GRADE_SERVICE_EXTERNAL_PORT=8081
