# Database
quarkus.datasource.db-kind=postgresql
quarkus.hibernate-orm.database.generation=validate

# Flyway
quarkus.flyway.migrate-at-start=true

# Profile DEV
%dev.quarkus.datasource.username=postgres
%dev.quarkus.datasource.password=postgres
%dev.quarkus.datasource.jdbc.url=jdbc:postgresql://localhost:5432/db

%dev.quarkus.http.port=8081

%dev.quarkus.rest-client.student-api.url=http://localhost:8080


# Profile PROD (Docker)
%prod.quarkus.datasource.username=${GRADES_SERVICE_DB_USER}
%prod.quarkus.datasource.password=${GRADES_SERVICE_DB_PASSWORD}
%prod.quarkus.datasource.jdbc.url=jdbc:postgresql://grades-service-database:5432/${GRADES_SERVICE_DB}

%prod.quarkus.rest-client.student-api.url=http://students-service-api:8080
